.App {
  text-align: center;
}

.new-form {
  background-color: #ffde59;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-form button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #b2745a;
  background-color: #b2745a;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-form button:hover,
.new-expense button:active {
  background-color: #c58a8a;
  border-color: #c58a8a;
}

.new-form button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-form button.alternative:hover,
.new-form button.alternative:active {
  background-color: #ddb3f8;
}

